body {
  /* https://uigradients.com/#Ash */
  font-family: sans-serif;
  background-color: #00245d;
  margin: 0;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

:root {
  --primary: #004990;
  --dark: #00245d;
  --actionblue: #306faa;
  --softblue: #f1f5f8;
  --white: #fff;
  --black: #000000;
  --highlight: #fe9500;
  --slate: #353535;
  --green: #3a7728;
}

h1,
h2,
h3,
h4 {
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.2rem;
  color: white;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.stat-font {
  font-family: 'Staatliches', cursive;
}

/* img {
  object-fit: contain;
} */

button {
  background-color: #ff7300;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: #ffffff;
  border-radius: 0.125rem 0.75rem;
  border: none;
  width: 250px;
  height: 250px;
  text-transform: uppercase;
}

button:hover {
  background-color: #fe9500;
}

/* tablet */
/* @media only screen and (min-width: 768px) {
} */

#logo {
  padding: 1rem;
  display: inline-block;
}

nav {
  align-items: center;
  text-align: center;
}

.img {
  width: auto;
  height: 300px;
}

.selection-single-item,
.main-single-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

#survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3em;
}

#thumbsup {
  margin: 1em;
}

#thumbsdown {
  margin: 1em;
}
